{
:devices {
    :mouse [{:vendor_id 1118 :product_id 2081},{:vendor_id 1118 :product_id 2082}, {:vendor_id 14145 :product_id 1957}]
    :mac [{:vendor_id 0 :product_id 0},{:vendor_id 76 :product_id 802},{:vendor_id 1452 :product_id 802}]
    }

:applications {
    :rdp ["^com.citrix.receiver.icaviewer.mac$" "^com.microsoft.rdc.macos$" "^com.utmapp.UTM$" "^com.vmware.fusion$"]
    :safari ["^com.apple.Safari$"]
    :excel ["^com.microsoft.Excel$"]
    :windows ["^com.citrix.receiver.icaviewer.mac$" "^com.microsoft.rdc.macos$" "^com.utmapp.UTM$" "^com.vmware.fusion$" "^com.microsoft.Excel$"]
    }

:main [
    {:des "Mouse"
        :rules [ 

        ;; System Wide Mouse
            [{:pkey :button4} :!Copen_bracket [:!rdp :mouse]]
            [{:pkey :button5} :!Cclose_bracket [:!rdp :mouse]]
            [{:pkey :button6} :!Cclose_bracket [:!rdp :mouse]]
            [:!Ctab :mission_control [:mouse]]
        ;; RDP Mouse
            ;; [{:pkey :button4} :!Oleft_arrow [:rdp :mouse]]
            ;; [{:pkey :button5} :!Cright_arrow [:rdp :mouse]]
            ;; [{:pkey :button6} :!Cright_arrow [:rdp :mouse]]
        ]}

    {:des "Mac Keyboard"
        :rules [ 
            ;; RDP Rules
                [:##left_command :##left_control [:rdp :mac] {:alone :left_command :lazy true}]
                ;; [:##left_command :##left_control [:rdp :mac]]
                [:##left_option :left_option [:rdp :mac] {:alone :left_command}]
                [:##left_control :##right_command [:rdp :mac]]

            ;; Alt-Tab
                [:!T#Stab :!O#Stab [:rdp :mac]]
                [:!QFright_arrow :!Qright_arrow [:rdp :mac]]
                [:!QFleft_arrow :!Qleft_arrow [:rdp :mac]]
                [:!QFup_arrow :!Qup_arrow [:rdp :mac]]
                [:!QFdown_arrow :!Qdown_arrow [:rdp :mac]]

            ;; Home-End-Up-Down
                [:!T#Spage_up :!WQ#Spage_up [:rdp :mac]]
                [:!T#Spage_down :!WQ#Spage_down [:rdp :mac]]
                [:!T#Shome :!WQ#Shome [:rdp :mac]]
                [:!T#Send :!WQ#Send [:rdp :mac]]

            ; Alt-S Email Send
                [:!Os :!Cs [:rdp :mac]]

            ; Alt Excel
                [:!Of :!Cf [:rdp :mac]] ; Alt-F Save As
                [:!On :!Cn [:rdp :mac]] ; Don't Save
                [:!Oa :!Ca [:rdp :mac]] ; Data
                [:!Oreturn_or_enter :!Creturn_or_enter [:rdp :mac]] ; Alt-Enter
                [:!TSv :!TCv [:rdp :mac]] ; Paste Special
                [:!Oh :!Ch [:rdp :mac]] ; Clear filter
                [:!Oequal_sign :!Cequal_sign [:rdp :mac]] ; Quick Sum 
                [:!Op :!Cp [:rdp :mac]] ; Print Settings
                [:!Or :!Cr [:rdp :mac]] ; Review Settings
                [:!Ow :!Cw [:rdp :mac]] ; View Settings
                [:!OFf4 :!CFf4 [:rdp :mac]] ; Close Window
                [:!Odown_arrow :!Cdown_arrow [:rdp :mac]] ; Arrow Down
                [:!OSleft_arrow :!CSleft_arrow [:rdp :mac]] ; Ungroup
                [:!OSright_arrow :!CSright_arrow [:rdp :mac]] ; Group
                [:!TSequal_sign :!Tkeypad_plus [:rdp :mac]] ; Insert Row

             ; Digital Assistant
                [:!TOg :!CTg [:rdp :mac]]
                
           ; Quick Acccess Toolbar
                [:!O1 :!C1 [:rdp :mac]]
                [:!O2 :!C2 [:rdp :mac]]
                [:!O3 :!C3 [:rdp :mac]]
                [:!O4 :!C4 [:rdp :mac]]
                [:!O5 :!C5 [:rdp :mac]]
                [:!O6 :!C6 [:rdp :mac]]
                [:!O7 :!C7 [:rdp :mac]]
                [:!O8 :!C8 [:rdp :mac]]
                
            ;; System Wide Rules
                [:right_option :application [:mac]]
                [:!Fdelete_or_backspace :delete_forward [:mac]]

            ;; Function Keys            
                [:f1 :!SOdisplay_brightness_decrement [:!rdp :mac]]
                [:f2 :!SOdisplay_brightness_increment [:!windows :mac]]
                [:!SOf1 :display_brightness_decrement [:!rdp :mac]]
                [:!SOf2 :display_brightness_increment [:!windows :mac]]
                [:f3 :mission_control [:!rdp :mac]]
                [:f4 :f4 [:excel :mac]]
                [:f4 :!Cspacebar [:!rdp :mac]]
                [:f4 :!Cspacebar [:!windows :mac]]
                [:f5 :dictation [:!rdp :mac]]
                [:f6 :illumination_increment [:!rdp :mac]] ; F6 Controls Keyboard Brightness
                [:!Sf6 :illumination_decrement [:!rdp :mac]] ; F6 Controls Keyboard Brightness
                [:f7 :rewind [:!rdp :mac]]
                [:f8 :play_or_pause [:!rdp :mac]]
                [:f9 :fast_forward [:!rdp :mac]]
                [:f10 :mute [:!rdp :mac]]
                [:#SOf11 :#SOvolume_decrement [:!rdp :mac]]
                [:#SOf12 :#SOvolume_increment [:!rdp :mac]]

            [:!CSv :!OTv [:excel :mac]] ;; paste special
            [:!Ch :!Th [:excel :mac]] ;; find and replace
            [:!CSreturn_or_enter :!TSreturn_or_enter [:excel :mac]]  ;; array formuals
            [:!Cspacebar :!Tspacebar [:excel :mac]] ;; select column
            [:!Fspacebar :!Cspacebar [:mac]] ;; Allow Spotlight
            [:!Cy :!CSz [:mac]] ;; Redo

        ]}
    ]}

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
